@page "{id}"
@model YaChitay.Pages.BookModel

@{
    ViewData["Title"] = @Model.Book.Title + " - ЯЧитаю";
}

<div class="container">
    <div class="row align-items-start">
        <div class="col bg-white rounded">
            <img src="data:image/jpg;base64,@Model.Book.Image.Low" class="shadow rounded" width="450px" height="580px" />
        </div>
        <div class="col">
            <h1 class="title">@Model.Book.Title</h1>
            <p class="desc">Прочитали 135 пользователей</p>
            <p>
                <b>Автор:</b>
                @{
                    foreach (var author in Model.Book.Authors)
                    {
                        var fullname = $"{author.Name} {author.Patronymic} {author.Surname}";
                        <a href="/Author/@author.Id">
                            @fullname
                        </a>
                    }
                }
            </p>
            <p><b>Объем:</b>@Model.Book.NumberOfPages страниц</p>
            <p><b>Жанры:</b> @string.Join(", ", Model.Book.Genres.Select(x => x.Name))</p>
            <p><b>Год написания:</b> @Model.Book.ReleaseDate.Year</p>
            <div class="inline-text">
                <p><b>Оценка:</b></p> @{
                    var middleScore = 0;
                    var isVoted = (Model.Book.ScoreVotes != 0);
                    if (isVoted)
                    {
                        middleScore = Model.Book.Score / Model.Book.ScoreVotes;
                        <p>@middleScore</p>
                        <p class="description">(голосов: @Model.Book.ScoreVotes)</p>
                    }
                    else
                    {
                        <p>Никто еще не оценил книгу</p>
                    }
                }
            </div>
            <p><b>Описание книги:</b></p>
            <p class="desc">@Model.Book.Description</p>
        </div>
        <div class="col shadow bg-white rounded">
            <br />
            <button type="button" class="btn btn-light">Прочитал</button>
            <button type="button" class="btn btn-success">Читаю</button>
            <button type="button" class="btn btn-light">Буду</button>
            <button type="button" class="btn btn-light">Перестал</button>

            <br />
            <br />
            <div class="form-group">
                <label for="exampleInputEmail1">Страниц прочитано</label>
                <div class="inline">
                    <input type="number" class="form-control" value="0" min="0" max="@Model.Book.NumberOfPages">
                    <button type="button" class="btn btn-light">Сохранить</button>
                </div>
                <small id="emailHelp" class="form-text text-muted">На данный момент вы прочитали 0% книги</small>
            </div>

            <br />

            <p>Ваша оценка: </p>
            <div class="ratio">
                <input type="radio" class="star-ratio" name="rt">
                <input type="radio" class="star-ratio" name="rt">
                <input type="radio" class="star-ratio" name="rt">
                <input type="radio" class="star-ratio" name="rt">
                <input type="radio" class="star-ratio" name="rt">
            </div>

            <br />
        </div>
    </div>
</div>