@page
@model YaChitay.Pages.BooksModel
@{
    ViewData["Title"] = "Книги - ЯЧитаю";
}

<style>
    .left-img {
        float: left;
        margin-right: 10px;
        border-radius: 4%;
    }

    a {
        text-decoration: none;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-10">
            <h2>Книги</h2>
            @foreach (var book in Model.Books)
            {
                <div class="row shadow-sm rounded" style="margin-bottom: 16px;">
                    @{
                        var desc = (book.Description.Length > 315) ? book.Description.Substring(0, 315) + "..." : book.Description;
                    }
                    <div>
                        <img src="data:image/jpg;base64,@book.Image.Low" class="left-img" height="150" width="100" style="margin-bottom:8px;" />
                        <h4><a href="/Book/@book.Id">@book.Title</a></h4>
                        <p class="desc">@book.Description</p>
                    </div>
                </div>
            }

            <div style="display: flex; justify-content: center; align-items: center;">
                <div>
                    @{
                        var prev_num = (@Model.PageNum - 1 > 0) ? @Model.PageNum - 1 : 1;
                        var next_num = @Model.PageNum + 1;
                    }

                    <a href="/Authors?page=1" class="btn btn-light">&lt;&lt;</a>
                    <a href="/Authors?page=@prev_num" class="btn btn-light">&lt;</a>
                    <a class="btn btn-primary">@Model.PageNum</a>
                    <a href="/Authors?page=@next_num" class="btn btn-light">&gt;</a>
                    <a href="/Authors?page=@Model.LastPageNum" class="btn btn-light">&gt;&gt;</a>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <partial name="Partials/_RightColumnMenu" />
        </div>
    </div>
</div>
