@page
@model IndexModel
@{
    ViewData["Title"] = "ЯЧитаю";
}

<head>
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
</head>

<div class="container">
    <div class="row">
        <div class="col-md-10">

            <h2>ЯЧитаю</h2>

            <p>
                ЯЧитаю - веб-приложение для отслеживания прогресса чтения ваших любимых книг. Сотни жанров, тысячи книг.
                Получайте рекомендации на основе прочитанных произведений и повышайте свой уровень читателя за счет чтения
                любых романов
            </p>


            <h2>Новинки</h2>
            <div class="row">
                @{
                    foreach (var book in Model.NewBooks)
                    {
                        <div class="col">
                            <img OnClick="Reddirect(@book.Id)" class="book-img" src="data:image/jpg;base64, @book.Image.Thumbnail" />
                            <p class="book-title">@book.Title</p>
                            <p class="book-desc">@book.Genres[0].Name, @book.ReleaseDate.Year</p>
                        </div>
                    }
                }
            </div>
            <h2>Популярное</h2>
            <div class="row">
                @{
                    foreach (var book in Model.PopularBooks)
                    {
                        <div class="col">
                            <img OnClick="Reddirect(@book.Id)" class="book-img" src="data:image/jpg;base64, @book.Image.Thumbnail" />
                            <p class="book-title">@book.Title</p>
                            <p class="book-desc">@book.Genres[0].Name, @book.ReleaseDate.Year</p>
                        </div>
                    }
                }
            </div>
            <h2>Книги дня</h2>
            <div class="row">
                @{
                    foreach (var book in Model.SelectionBooks)
                    {
                        <div class="col">
                            <img OnClick="Reddirect(@book.Id)" class="book-img" src="data:image/jpg;base64, @book.Image.Thumbnail" />
                            <p class="book-title">@book.Title</p>
                            <p class="book-desc">@book.Genres[0].Name, @book.ReleaseDate.Year</p>
                        </div>
                    }
                }
            </div>
        </div>
        <div class="col-md-2">
            <div class="border" style="position:fixed;padding:56px;">
                <p><a class="sidebar" href="#">Профиль</a></p>
                <p><a class="sidebar" href="#">Книги</a></p>
                <p><a class="sidebar" href="#">Авторы</a></p>
                <p><a class="sidebar" href="#">Жанры</a></p>
            </div>
        </div>
    </div>
</div>

@section Scripts
    {
    <script>

        function Reddirect(id) {
            window.location.href = '/book/' + id
        }

    </script>
}
