@page
@model YaChitay.Pages.Admin.Authors.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AuthorModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AuthorModel.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AuthorModel.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AuthorModel.Surname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AuthorModel.Surname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AuthorModel.Patronymic)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AuthorModel.Patronymic)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AuthorModel.Nickname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AuthorModel.Nickname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AuthorModel.Birthplace)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AuthorModel.Birthplace)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AuthorModel.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AuthorModel.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AuthorModel.IsDead)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AuthorModel.IsDead)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AuthorModel.IsDeleted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AuthorModel.IsDeleted)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AuthorModel.DateOfBirth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AuthorModel.DateOfBirth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AuthorModel.DateOfDeath)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AuthorModel.DateOfDeath)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AuthorModel.Created)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AuthorModel.Created)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.AuthorModel?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
