@page
@model YaChitay.Pages.Admin.Authors.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Author[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author[0].Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author[0].Patronymic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author[0].Nickname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author[0].Birthplace)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author[0].Deathplace)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author[0].Quote)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author[0].IsDead)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author[0].IsDeleted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author[0].DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author[0].DateOfDeath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author[0].Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author[0].Score)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author[0].ScoreVotes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author[0].WikiUrl)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Author) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patronymic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nickname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Birthplace)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deathplace)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quote)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDead)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDeleted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfDeath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Score)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ScoreVotes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WikiUrl)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
